<div class="scroll-indicator" id="scrollIndicator">
  <svg class="scroll-indicator__svg" viewBox="0 0 43 43" xmlns="http://www.w3.org/2000/svg">
    <!-- Background circle -->
    <circle
      class="scroll-indicator__circle-bg"
      cx="21.5"
      cy="21.5"
      r="20"
      fill="none"
      stroke="white"
      stroke-width="3.5"
      opacity="0.25"
    />
    
    <!-- Progress circle -->
    <circle
      class="scroll-indicator__circle-progress"
      cx="21.5"
      cy="21.5"
      r="20"
      fill="none"
      stroke="black"
      stroke-width="2.5"
      stroke-linecap="round"
      transform="rotate(-90 21.5 21.5)"
    />
    
    <!-- Down arrow -->
    <g class="scroll-indicator__arrow" transform="translate(21.5, 21.5)">
      <path
        d="M 0 -8 L 0 8 M -4 4 L 0 8 L 4 4"
        stroke="white"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
        fill="none"
      />
    </g>
  </svg>
</div>
