
<anchored-popover-component
  class="footer-utilities__social-popout footer-utilities__text"
>
  <button
    class="social-popout-trigger button-unstyled"
    popovertarget="socials-popover"
    popovertargetaction="toggle"
    ref="trigger"
    style="{% render 'typography-style', preset: 'custom', settings: block.settings %}"
    {{ block.shopify_attributes }}
  >
    SOCIALS
  </button>
  <div
    class="socials-popover color-{{ settings.popover_color_scheme }}"
    id="socials-popover"
    popover="auto"
    ref="popover"
  >
    <ul
      class="
        social_list list-unstyled
        custom-typography
        {% if block.settings.font_size != "" %}custom-font-size{% endif %}
      "
    >
      <li>
        <a
          href="https://www.instagram.com/kultjur.lk/"
          class="footer-utilities__text"
          target="_blank"
          rel="noopener noreferrer"
        >
          INSTAGRAM
        </a>
      </li>
      <li>
        <a
          href="#"
          class="footer-utilities__text"
          onclick="return false;"
        >
          TIKTOK
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/profile.php?id=61569432370747"
          class="footer-utilities__text"
          target="_blank"
          rel="noopener noreferrer"
        >
          FACEBOOK
        </a>
      </li>
    </ul>
  </div>
</anchored-popover-component>

{% stylesheet %}
  .social-popout-trigger {
    anchor-name: --socials-trigger;
    cursor: pointer;
    font-size: var(--font-size, 0.75rem);
    text-transform: var(--text-transform, none);
  }

  .social_list {
    li {
      border-radius: calc(var(--style-border-radius-popover) - 8px);

      a {
        color: var(--color-foreground);
        display: inline-block;
        padding: 8px;
        text-align: start;
        width: 100%;
        outline-color: #0000;
        font-size: var(--font-size, 0.75rem);
        text-transform: var(--text-transform, uppercase);
      }

      &:is(:hover, :focus-within) {
        background: rgb(var(--color-foreground-rgb) / 0.15);
      }
    }
  }

  .socials-popover {
    position-anchor: --socials-trigger;
    inset: unset;
    bottom: calc(anchor(top) + 1rem);
    left: anchor(center);
    border-radius: var(--style-border-radius-popover);
    background: linear-gradient(var(--color-background) 0 100%),
      linear-gradient(rgb(var(--color-background-rgb) / 0.15) 0 100%);
    background-clip: padding-box, border-box;
    border: 1px solid #0000;
    box-shadow: var(--shadow-popover);
    padding: 8px;
    margin: 0;
    opacity: 0;
    scale: 0.94;
    translate: 0 6px;
    transform: translateX(-50%);
    transform-origin: center bottom;
  }

  .socials-popover.\:popover-open,
  .socials-popover:popover-open {
    opacity: 1;
    translate: 0 0;
    scale: 1;
  }

  @media screen and (max-width: 750px) {
    .socials-popover {
      left: anchor(center);
      transform: translate(-50%, 0);
      transform-origin: 0% 100%;
    }
  }

  @supports not (position-anchor: --account-button-trigger) {
    .socials-popover {
      bottom: unset;
      top: calc(var(--anchor-top) * 1px);
      left: calc((var(--anchor-left) + (var(--anchor-width) / 2)) * 1px);
      transform: translate(-50%, calc(-100% - 1.25rem));
    }
    @media screen and (max-width: 750px) {
      .socials-popover {
        left: calc((var(--anchor-left) + (var(--anchor-width) / 2)) * 1px);
        transform: translate(-50%, calc(-100% - 1.25rem));
      }
    }
  }
  @media (prefers-reduced-motion: no-preference) {
    .socials-popover {
      transition-property: display, overlay, opacity, scale, translate;
      transition-behavior: allow-discrete;
      transition-duration: 0.3s;
      transition-timing-function: var(--ease-out-quad);
    }
    @starting-style {
      .socials-popover.\:popover-open,
      .socials-popover:popover-open {
        opacity: 0.7;
        translate: 0 6px;
        scale: 0.94;
      }
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Social Links Popout",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "font_size",
      "label": "t:settings.size",
      "options": [
        {
          "value": "0.625rem",
          "label": "10px"
        },
        {
          "value": "0.75rem",
          "label": "12px"
        },
        {
          "value": "0.875rem",
          "label": "14px"
        },
        {
          "value": "1rem",
          "label": "16px"
        },
        {
          "value": "1.125rem",
          "label": "18px"
        }
      ],
      "default": "0.75rem"
    },
    {
      "type": "select",
      "id": "case",
      "label": "t:settings.case",
      "options": [
        {
          "value": "none",
          "label": "t:options.default"
        },
        {
          "value": "uppercase",
          "label": "t:options.uppercase"
        }
      ],
      "default": "none"
    }
  ],
  "presets": [
    {
      "name": "Social Links Popout",
      "category": "t:categories.footer"
    }
  ]
}
{% endschema %}
